doctype html 
html 
    head
        title Contacts
        link(rel="stylesheet", href="/css/style.css")

    body
        h1 HubSpot Contacts
        if data.length 
            table  
                thead 
                    tr 
                        th First Name
                        th Last Name
                        th Email
                        th Bio 
                        th Video Games 
                        th Favorite Movie 
                
                tbody 
                    each data in data 
                        tr 
                            td= data.firstName
                            td= data.lastName
                            td= data.email
                            td= data.bio
                            td= data.videoGames
                            td= data.favoriteMovie
        else
            p No records found
        p 
            a(href="/createNew") Add New Contact