doctype html 
html 
    head
        title Contacts
        link(rel="stylesheet", href="/css/style.css")

    body
        h1 HubSpot Contacts
        if data && data.length 
            table  
                thead 
                    tr 
                        th First Name
                        th Last Name
                        th Email
                        th Bio 
                        th Video Games 
                        th Favorite Movie 
                
                tbody 
                    each contact in data 
                        tr 
                            td= contact.properties.firstname
                            td= contact.properties.lastname
                            td= contact.properties.email
                            td= contact.properties.bio
                            td= contact.properties.video_games
                            td= contact.properties.favorit_movie
        else
            p No records found
        p 
            a(href="/createNew") Add New Contact